@model UserCardItemViewModel

@{
	var user = Model.User;
	var adminPartIsActive = Model.ActiveTab == UserCardItemActiveTab.UserAdmin ? "active" : "";
	var userPartIsActive = Model.ActiveTab == UserCardItemActiveTab.UserInfo ? "active" : "";
}

<tr id="usercard-@user.Id" class="align-items-center">
	<td>
		<div class="btn-group">
			<button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Ação
			</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" asp-page="Item" asp-page-handler="Editar" asp-route-id="@user.Id">Editar usuário</a>
				<a class="dropdown-item" asp-page="Search" asp-page-handler="AlterarSenha" asp-route-userId="@user.Id" data-toggle="ajax-modal">Alterar senha</a>
				<a class="dropdown-item" asp-page="Search" asp-page-handler="UserRoles" asp-route-userId="@user.Id" data-toggle="ajax-modal">Visulizar Regras</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Separated link</a>
			</div>
		</div>
	</td>
	<th scope="row">

		<abbr title="@user.Id">
			@user.UserName
		</abbr>
	</th>
	<td>@user.DisplayName()</td>
	<td>
		@if (user.IsEmailPublic)
		{
			@user.Email
		}
	</td>
	<td class="text-center">
		@if (user.IsActive)
		{
			<span class="badge badge-success badge-pill text-white">Ativado</span>
		}
		else
		{
			<span class="badge badge-warning badge-pill text-white">Desactivado</span>
		}
	</td>
	<td class="text-center">
		@if (user.EmailConfirmed)
		{
			<span class="badge badge-success badge-pill text-white">Confirmado</span>
		}
		else
		{
			<span class="badge badge-warning badge-pill text-white">Não confirmado</span>
		}
	</td>
	<td class="text-center">
		@if (user.LockoutEnabled)
		{
			<span class="badge badge-warning badge-pill text-white">Conta bloqueada</span>
		}
		else
		{
			<span class="badge badge-success badge-pill text-white">Conta não bloqueada</span>
		}
	</td>
	<td>
		@if (@user.CreatedDateTime.HasValue)
		{
			<abbr title="@user.CreatedDateTime.Value">
				@user.CreatedDateTime.Value
			</abbr>
		}
	</td>
	<td>
		@if (user.LastVisitDateTime != null)
		{
			<abbr title="@user.LastVisitDateTime.Value">
				@user.LastVisitDateTime.Value
			</abbr>
		}
	</td>
</tr>
